src/main/resources/insuranceservice.wsdl

<wsdl:definitions
        targetNamespace="http://www.nicordesigns.com/spring-ws-insurance"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:sch="http://www.schrage.net/spring-ws-insurance"
        xmlns:tns="http://www.schrage.net/spring-ws-insurance"
        xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <!-- We import/use the schema defined in the XSD-->
        <xs:schema attributeFormDefault="unqualified"
                   elementFormDefault="qualified"
                   targetNamespace="http://www.schrage.net/spring-ws-insurance"
                   xmlns:spr="http://www.schrage.net/spring-ws-insurance"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">

            <!-- SOAP IN -->
            <xs:simpleType name="ssnType">
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{3}-[0-9]{2}-[0-9]{4}|\d{9}" />
                </xs:restriction>
            </xs:simpleType>

            <xs:element name="InsuranceRequest" >
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="spr:ApplicantType" name="Applicant" />
                        <xs:element type="spr:InsuranceInfoType" name="InsuranceInfo"/>
                        <xs:element type="spr:WidgetInfoType" name="WidgetInfo" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ApplicantType">
                <xs:sequence>
                    <xs:element type="spr:ssnType" name="SSN"/>
                    <xs:element type="xs:string" name="FirstName"/>
                    <xs:element type="xs:string" name="MiddleName"/>
                    <xs:element type="xs:string" name="LastName"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InsuranceInfoType">
                <xs:sequence>
                    <xs:element type="xs:string" name="product"/>
                    <xs:element type="xs:string" name="coverageType"/>
                    <xs:element type="xs:string" name="coverageOption"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WidgetInfoType">
                <xs:sequence>
                    <xs:element type="xs:string" name="wgtAmount"/>
                    <xs:element type="xs:string" name="wgtContractNumber"/>
                </xs:sequence>
            </xs:complexType>

            <!-- SOAP OUT -->
            <xs:element name="InsuranceResponse">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="amount"/>
                            <xs:attribute type="xs:string" name="confirmationId"/>
                            <xs:attribute type="xs:string" name="orderDate"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
      </xs:schema>
    </wsdl:types>

    <!--  We define the InsuranceRequest and InsuranceResponse message-->
    <wsdl:message name="InsuranceRequest">
        <wsdl:part name="InsuranceRequest" element="tns:InsuranceRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="InsuranceResponse">
        <wsdl:part name="InsuranceResponse" element="InsuranceResponse"></wsdl:part>
    </wsdl:message>

    <!-- We define the InsuranceService Port Type-->
    <wsdl:portType name="InsuranceService">
        <wsdl:operation name="Insurance">
            <wsdl:input message="tns:InsuranceRequest" name="InsuranceRequest"></wsdl:input>
            <wsdl:output message="tns:InsuranceResponse" name="InsuranceResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <!-- We define the InsuranceServiceSoap11 binding-->
    <wsdl:binding name="InsuranceServiceSoap11" type="tns:InsuranceService">
        <!-- We define the document literal style, SOAP over http -->
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <!-- We define the WSDL Operation-->
        <wsdl:operation name="Insurance">
            <!-- soapAction used in header-->
            <soap:operation soapAction=""/>
            <wsdl:input name="InsuranceRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="InsuranceReponse">
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="InsuranceService">
        <wsdl:port name="InsuranceServiceSoap11" binding="tns:InsuranceServiceSoap11">
            <!-- URL where the SOAP Endpoint can be invoked-->
            <soap:address location="http://localhost:8080/spring-ws-insurance/insuranceService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>