src/main/resources/InsuranceResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://www.schrage.net/spring-ws-insurance"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="InsuranceResponse">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="amount"/>
          <xs:attribute type="xs:string" name="confirmationId"/>
          <xs:attribute type="xs:string" name="orderDate"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>